cryptography==45.0.7
docker==7.1.0
filelock==3.19.1
kubernetes==33.1.0
msgpack==1.1.1
py3dns==4.0.2
pymongo==4.14.1
pytest==8.4.1
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
redo==3.0.0
requests==2.32.5
urllib3==1.26.20
websockets==15.0.1
flaky==3.8.1
stripe==12.5.0
aiosmtpd==1.4.6
