*.log
*.pyc


tags

/release-state.yml
/mender-demo-artifact.mender

# Lock file created by the container manager when compose is driven from the
# repo root rather than tests/
/docker_lock

# Output of the old 'keygen' script, removed along with the demo composition
/keys-generated/

__pycache__
.cache
.idea
artifacts
core-image-full-*
large_image.dat
update.mender

# Mac specific junk files
.DS_Store
# folders for local testing dependencies
node_modules
venv

# Emacs directory local variables
.dir-locals.el

# direnv Python virtualenv setup
*.direnv
*.envrc
