# The CI job name will be unique after substitution from the generator.
test:integration:$CI_NODE_INDEX:
  rules:
    - if: $RUN_TESTS_FULL_INTEGRATION == "true"
  image: docker:${DOCKER_VERSION}-dind
  stage: test
  tags:
    - mender-qa-worker-integration-tests
  timeout: 10h
  before_script:
    # These two variables would be set by GitLab CI "parallel" feature, and are used by our Pytest
    # plugin to split the tests among the CI jobs. They get substituted by the generator.
    - export CI_NODE_INDEX=$CI_NODE_INDEX
    - export CI_NODE_TOTAL=$CI_NODE_TOTAL
    - |
      docker login $CI_REGISTRY \
      --username $CI_REGISTRY_USER \
      --password $CI_REGISTRY_PASSWORD
    - apk add $(cat ./tests/requirements-system/apk-requirements.txt)
    - apk add py3-virtualenv screen
    - python -m virtualenv /.venv
    - source /.venv/bin/activate
    - pip3 install -r ./tests/requirements-python/python-requirements.txt
    # Gitlab CI tends to set these DOCKER_ variables internally.
    # dind also creates the unix socket at /var/run/docker.sock
    - unset DOCKER_HOST DOCKER_TLS_VERIFY DOCKER_CERT_PATH
    # Run dockerd and wait it to start
    # https://github.com/krallin/tini#subreaping
    - screen -d -m /usr/bin/env TINI_SUBREAPER=true dockerd-entrypoint.sh
    - |
      MAX_WAIT=300
      while [ ${MAX_WAIT} -gt 0 ]; do
        echo "[$(date +%F_%T)] MAX_WAIT=${MAX_WAIT}"; ps # Debug information
        if docker version &>/dev/null; then
          docker version # Verify that the dockerd is up and running
          break
        fi
        MAX_WAIT=$((${MAX_WAIT} - 1))
        sleep 1
      done
      if test $MAX_WAIT -lt 1; then
        echo "Timeout waiting for docker to start"
        exit 1;
      fi
    # Increase system limits to make sure the tests are not limited while
    # running with high parallelism on a single VM
    - sysctl -w fs.inotify.max_user_instances=1024
    - sysctl -w fs.file-max=600000
    - ulimit -n 524288

  script:
    - cd tests
    - ./run.sh
  artifacts:
    expire_in: 2w
    when: always
    paths:
      - tests/mender_test_logs
      - tests/results_full_integration.xml
      - tests/report_full_integration.html
    reports:
      junit: results_full_integration.xml
