*.log
*.pyc


tags

/release-state.yml

/docker-compose.testing.yml
/docker-compose.testing.enterprise.yml

__pycache__
.cache
artifacts
core-image-full-*
large_image.dat
update.mender

# Mac specific junk files
.DS_Store
# folders for local testing dependencies
node_modules
venv
