# Default owners for everything
* @mendersoftware/qa-dependabot-reviewers

# Test and extra directories
/tests/ @mendersoftware/qa-dependabot-reviewers
/extra/ @mendersoftware/qa-dependabot-reviewers
/extra/mender-client-docker-addons/ @mendersoftware/qa-dependabot-reviewers
