# Dependency updates
go.mod @mendersoftware/qa-dependabot-reviewers
go.sum @mendersoftware/qa-dependabot-reviewers
Dockerfile* @mendersoftware/qa-dependabot-reviewers
*requirements*.txt @mendersoftware/qa-dependabot-reviewers
package.json @mendersoftware/qa-dependabot-reviewers
package-lock.json @mendersoftware/qa-dependabot-reviewers

# Git submodules
/extra/gitdm/gitdm @mendersoftware/qa-dependabot-reviewers
