version: '2.3'
services:

    mender-client:
        # Needs to be built in mender client's test directory.
        image: mendersoftware/mender-client-docker:mender-3.5.1
        networks:
            - mender

networks:
    mender:
