version: '2.1'
services:

    #
    # mender-deviceconnect
    #
    mender-deviceconnect:
        image: mendersoftware/deviceconnect:saas-v2021.11.02
        command: server --automigrate
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-nats
        environment:
            DEVICECONNECT_MONGO_URL: "mongodb://mender-mongo"
            DEVICECONNECT_NATS_URI: "nats://mender-nats:4222"
        labels:
            mender.healthcheck.path: "/api/internal/v1/deviceconnect/health"

    mender-nats:
        image: nats:2.1.9-alpine3.12
        networks:
            - mender

    mender-workflows-worker:
        environment:
            DEVICECONNECT_ADDR: "mender-deviceconnect:8080"
            HAVE_DEVICECONNECT: 1

    mender-api-gateway:
      volumes:
        - ./config/traefik/traefik.connect.yaml:/etc/traefik/config/traefik.connect.yaml:ro

    mender-gui:
        environment:
            HAVE_DEVICECONNECT: 1
