version: '2.1'
services:
  #
  # mender-deviceconnect
  #
  mender-deviceconnect:
    image: mendersoftware/deviceconnect:saas-v2020.11.19
    command: server --automigrate
    extends:
      file: common.yml
      service: mender-base
    networks:
      - mender
    depends_on:
      - mender-mongo
    environment:
      DEVICECONNECT_MONGO_URL: "mongodb://mender-mongo"
      DEVICECONNECT_NATS_URL: "nats://mender-nats"

  mender-nats:
    image: nats:2.1-alpine3.11
    networks:
      - mender

