version: '2.1'
services:
    #
    # mender-reporting
    #
    mender-reporting:
        image: mendersoftware/reporting:staging
        command: server --automigrate
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-elasticsearch
        environment:
            REPORTING_ELASTICSEARCH_ADDRESSES: "http://mender-elasticsearch:9200"

    #
    # mender-api-gateway
    #
    mender-api-gateway:
      volumes:
        - ./config/traefik/traefik.reporting.yaml:/etc/traefik/config/traefik.reporting.yaml:ro

    #
    # elasticsearch
    #
    mender-elasticsearch:
        image: elasticsearch:7.13.1
        environment:
          - "network.host=0.0.0.0"
          - "discovery.type=single-node"
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ports:
            - 9200:9200
            - 9300:9300
        networks:
            - mender

    #
    # mender-inventory
    #
    mender-inventory:
        environment:
            INVENTORY_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
            INVENTORY_ENABLE_REPORTING: 1

    #
    # mender-deployments
    #
    mender-deployments:
        environment:
            DEPLOYMENTS_REPORTING_ADDR: http://mender-reporting:8080

    #
    # gui
    #
    mender-gui:
        environment:
            HAVE_REPORTING: 1
