version: '2.3'
services:

    #
    # mender-client
    #
    mender-client:
        image: mendersoftware/mender-client-qemu:mender-3.6.2
        networks:
            - mender
        stdin_open: true
        tty: true
        privileged: true
        environment:
            SERVER_URL:
            TENANT_TOKEN:


networks:
    mender:
