version: '2.3'
services:

    #
    # monitor-client
    #
    mender-client:
        image: registry.mender.io/mendersoftware/mender-monitor-qemu-commercial:mender-3.5.1
        networks:
            - mender
        stdin_open: true
        tty: true
        privileged: true
        environment:
            - SERVER_URL=$SERVER_URL
            - TENANT_TOKEN=$TENANT_TOKEN
