version: '2.1'
services:

    mender-azure-iot-manager:
        command: server --automigrate

    mender-useradm:
        command: server --automigrate
        volumes:
            - ./keys/useradm/private.key:/etc/useradm/rsa/private.pem

    mender-device-auth:
        command: server --automigrate
        volumes:
            - ./keys/deviceauth/private.key:/etc/deviceauth/rsa/private.pem
        environment:
            DEVICEAUTH_SERVER_PRIV_KEY_PATH: /etc/deviceauth/rsa/private.pem

    mender-inventory:
        command: server --automigrate

    mender-api-gateway:
        ports:
            - 80:80
            - 443:443
            - 8080:8080
        command:
            - --accesslog=true
            - --api.dashboard=true
            - --api.insecure=true
            - --entrypoints.http.address=:80
            - --entrypoints.http.http.redirections.entryPoint.scheme=https
            - --entrypoints.http.http.redirections.entryPoint.to=https
            - --entrypoints.https.address=:443
            - --entryPoints.https.transport.respondingTimeouts.idleTimeout=7200
            - --entryPoints.https.transport.respondingTimeouts.readTimeout=7200
            - --entryPoints.https.transport.respondingTimeouts.writeTimeout=7200
            - --log.level=DEBUG
            - --ping=true
            - --providers.file.directory=/etc/traefik/config
        environment:
          MENDER_DEMO: "true"
          TRAEFIK_API: "true"
        networks:
            mender:
                aliases:
                    - docker.mender.io
                    - s3.docker.mender.io
        volumes:
            - ./config/traefik/traefik.tls.yaml:/etc/traefik/config/traefik.tls.yaml:ro
            - ./cert/cert.crt:/etc/traefik/certs/cert.crt
            - ./cert/private.key:/etc/traefik/certs/private.key

    mender-deployments:
        command: server --automigrate
        volumes:
            - ./cert/cert.crt:/etc/ssl/certs/docker.mender.io.crt
        environment:
            STORAGE_BACKEND_CERT: /etc/ssl/certs/docker.mender.io.crt
            DEPLOYMENTS_AWS_AUTH_KEY: minio
            DEPLOYMENTS_AWS_AUTH_SECRET: minio123
            DEPLOYMENTS_AWS_URI: https://s3.docker.mender.io
        depends_on:
            - mender-mongo

    minio:
        networks:
            mender:
                aliases:
                    - minio.s3.docker.mender.io
        environment:
            MINIO_ACCESS_KEY: minio
            MINIO_SECRET_KEY: minio123
        # use rate limiting, for more options see: https://docs.traefik.io/v2.2/middlewares/ratelimit/
        # labels:
        #     - traefik.http.middlewares.demo-ratelimit.ratelimit.average=30
        #     - traefik.http.routers.minio.middlewares=demo-ratelimit

    mender-gui:
        environment:
            # enable demo mode for UI ["true"/"false"]
            DEMO: "true"

    mender-workflows-server:
        command: server --automigrate

    mender-workflows-worker:
        command: worker --automigrate --excluded-workflows generate_artifact

    mender-create-artifact-worker:
        command: --automigrate
        environment:
            - CREATE_ARTIFACT_SKIPVERIFY=1
