version: '2.1'
services:

    #
    # mender-gateway
    #
    mender-gateway:
        image: registry.mender.io/mendersoftware/mender-gateway-qemu-commercial:mender-3.4.1-build1
        networks:
            - mender
        stdin_open: true
        tty: true
        privileged: true
        environment:
            - SERVER_URL=$SERVER_URL
            - TENANT_TOKEN=$TENANT_TOKEN
