version: '2.3'
services:

    #
    # mender-client
    #
    mender-client:
        networks:
            - mender
        environment:
            - SERVER_URL=$SERVER_URL
            - TENANT_TOKEN=$TENANT_TOKEN
