version: '2'
services:
    #
    # mender-deployments
    #
    mender-deployments:
        image: mendersoftware/deployments:latest
        ports:
            - "8080:8080"
        networks:
            - mender
        depends_on:
            - mender-mongo-deployments

    mender-mongo-deployments:
        image: mongo:latest
        networks:
            mender:
                aliases:
                    - mongo-deployments

        ports:
            - "27018:27017"

    #
    # mender-etcd
    #
    mender-etcd:
        image: microbox/etcd:latest
        ports:
            - "4001:4001"
            - "7001:7001"
        volumes:
            - /var/etcd/:/data
        #override command since the image entrypoint requires
        #these two args
        command:
            - -data-dir=/data
            - -name=mender-etcd
        networks:
            mender:
                aliases:
                    - etcd

    #
    # mender-gui
    #
    mender-gui:
        image: mendersoftware/gui:latest
        ports:
            - "8081:80"
        networks:
            - mender

    #
    # mender-api-gateway
    #
    mender-api-gateway:
        image: mendersoftware/api-gateway:latest
        ports:
            - "9080:8080"
        networks:
            mender:
                aliases:
                    - gateway
        depends_on:
            - redis

    redis:
        image: redis:latest
        hostname: redis
        ports:
            - "6379:6379"
        networks:
            mender:
                aliases:
                    # API gateway looks for host named
                    # `api-gateway-redis`
                    - api-gateway-redis

    #
    # mender-device-auth
    #
    mender-device-auth:
        image: mendersoftware/deviceauth:latest
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mongo-device-auth

    mender-mongo-device-auth:
        image: mongo:latest
        networks:
            mender:
                aliases:
                    - mongo-device-auth

        ports:
            - "27019:27017"

    #
    # mender-device-adm
    #
    mender-device-adm:
        image: mendersoftware/deviceadm:latest
        extends:
            file: common.yml
            service: mender-base
        ports:
            - "8082:8080"
        networks:
            - mender
        depends_on:
            - mongo-device-adm

    mender-mongo-device-adm:
        image: mongo:latest
        networks:
            mender:
                aliases:
                    - mongo-device-adm

        ports:
            - "27017:27017"

networks:
    mender:
