version: '2.1'
services:

    #
    # minio
    #
    minio:
        image: minio/minio:RELEASE.2018-09-25T21-34-43Z
        restart: on-failure
        networks:
            mender:
                aliases:
                    - minio.s3.docker.mender.io
        environment:
            MINIO_HTTP_TRACE: /dev/stdout
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.minio.entrypoints=https"
            - "traefik.http.routers.minio.rule=Host(`${STORAGE_URL:-s3.docker.mender.io}`)||Headers(`X-Forwarded-Host`,`${STORAGE_URL:-s3.docker.mender.io}`)||PathPrefix(`/mender-artifact-storage`)"
            - "traefik.http.routers.minio.tls=true"
            - "traefik.http.services.minio.loadbalancer.server.port=9000"
            - mender.testprefix=${MENDER_TESTPREFIX:-""}
        command: server /export

    #
    # mender-deployments depends on minio if minio is in use
    #
    mender-deployments:
        depends_on:
            minio:
                condition: service_healthy
