version: '2.1'
services:

    # subsitute services with 'enterprise' versions
    mender-deployments:
        image: registry.mender.io/mendersoftware/deployments-enterprise:1.9.0

    mender-conductor:
        image: registry.mender.io/mendersoftware/mender-conductor-enterprise:1.6.0

    # add services
    mender-tenantadm:
        image: registry.mender.io/mendersoftware/tenantadm:1.1.0
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        environment:
            TENANTADM_CONDUCTOR_ADDR: http://mender-conductor:8080

    mender-org-welcome-email-preparer:
        image: registry.mender.io/mendersoftware/org-welcome-email-preparer:1.6.0
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-conductor
        environment:
            CONDUCTOR: "http://mender-conductor:8080"

    mender-email-sender:
        image: mendersoftware/email-sender:1.6.0
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-conductor
        environment:
            CONDUCTOR: "http://mender-conductor:8080"
            DEMO: "true"

    # configure the rest
    mender-device-auth:
        environment:
            DEVICEAUTH_TENANTADM_ADDR: 'http://mender-tenantadm:8080'

    mender-useradm:
        image: registry.mender.io/mendersoftware/useradm-enterprise:1.10.0
        environment:
            USERADM_TENANTADM_ADDR: 'http://mender-tenantadm:8080'

    mender-api-gateway:
        environment:
            HAVE_MULTITENANT: 1

    mender-gui:
        environment:
            HAVE_MULTITENANT: 1
            HAVE_ENTERPRISE: 1

networks:
    mender:
