version: '2'
services:

    #
    # mender-deployments
    #
    mender-deployments:
        image: mendersoftware/deployments:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    #
    # mender-gui
    #
    mender-gui:
        image: mendersoftware/gui:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        environment:
            - INTEGRATION_VERSION

    #
    # mender-api-gateway
    #
    mender-api-gateway:
        image: mendersoftware/api-gateway:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        # critical - otherwise nginx may not detect
        # these servers and exits with 'upstream server not found'
        depends_on:
            - mender-device-auth
            - mender-device-adm
            - mender-deployments
            - mender-gui
            - mender-useradm
            - mender-inventory

    #
    # mender-device-auth
    #
    mender-device-auth:
        image: mendersoftware/deviceauth:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    #
    # mender-device-adm
    #
    mender-device-adm:
        image: mendersoftware/deviceadm:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    #
    # mender-inventory
    #
    mender-inventory:
        image: mendersoftware/inventory:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    #
    # mender-useradm
    #
    mender-useradm:
        image: mendersoftware/useradm:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    mender-conductor:
        image: mendersoftware/conductor:1.8.1
        depends_on:
            - mender-elasticsearch
            - mender-redis
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender

    mender-elasticsearch:
        image: mendersoftware/elasticsearch:2.4
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender

    mender-redis:
        image: redis:3.2.11-alpine
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender

    mender-mongo:
        image: mongo:3.4
        extends:
            file: common.yml
            service: mender-base
        networks:
            mender:
                aliases:
                     - mongo-deployments
                     - mongo-device-adm
                     - mongo-device-auth
                     - mongo-inventory
                     - mongo-useradm

networks:
    mender:
