version: '2'
services:

    mender-useradm:
        volumes:
            - ./keys/useradm/private.key:/etc/useradm/rsa/private.pem

    mender-device-auth:
        command: server --automigrate
        volumes:
            - ./keys/deviceauth/private.key:/etc/deviceauth/rsa/private.pem

    mender-device-adm:
        command: server --automigrate

    mender-api-gateway:
        ports:
            - "443:443"
        networks:
            mender:
                aliases:
                    - docker.mender.io
        volumes:
            - ./certs/api-gateway/cert.crt:/var/www/mendersoftware/cert/cert.crt
            - ./certs/api-gateway/private.key:/var/www/mendersoftware/cert/private.key
        environment:
            ALLOWED_HOSTS: localhost docker.mender.io

    storage-proxy:
        ports:
            - "9000:9000"
        networks:
            mender:
                aliases:
                    - s3.docker.mender.io
        environment:

            # use nginx syntax for rate limiting, see
            # https://nginx.org/en/docs/http/ngx_http_core_module.html#limit_rate
            # Examples:
            #   1m - 1MB/s
            #   512k - 512kB/s
            DOWNLOAD_SPEED: 1m
            MAX_CONNECTIONS: 100
        volumes:
            - ./certs/storage-proxy/cert.crt:/var/www/storage-proxy/cert/cert.crt
            - ./certs/storage-proxy/private.key:/var/www/storage-proxy/cert/private.key

    mender-deployments:
        command: server --automigrate
        volumes:
            - ./certs/storage-proxy/cert.crt:/etc/ssl/certs/s3.docker.mender.io.crt
        environment:
            STORAGE_BACKEND_CERT: /etc/ssl/certs/s3.docker.mender.io.crt
            DEPLOYMENTS_AWS_AUTH_KEY: minio
            DEPLOYMENTS_AWS_AUTH_SECRET: minio123
            DEPLOYMENTS_AWS_URI: https://s3.docker.mender.io:9000

    minio:
        networks:
            mender:
                aliases:
                    - minio.s3.docker.mender.io
        environment:
            MINIO_ACCESS_KEY: minio
            MINIO_SECRET_KEY: minio123

    mender-gui:
        environment:
            # enable demo mode for UI ["true"/"false"]
            DEMO: "true"

    mender-conductor:
        volumes:
            - ./conductor/server/config:/app/config
            - ./conductor/server/entrypoint:/srv
            - ./conductor/server/workflows:/srv/workflows
            - ./conductor/server/tasks:/srv/tasks
        entrypoint: /srv/start_conductor.sh
        environment:
            - CONFIG_PROP=config.properties
