version: '2.1'
services:

    #
    # auditlogs
    #
    mender-auditlogs:
        image: registry.mender.io/mendersoftware/auditlogs:mender-2.7.2
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        command: server --automigrate
        labels:
            - traefik.enable=true
            - traefik.http.routers.auditlogs.entrypoints=https
            - traefik.http.routers.auditlogs.middlewares=userauth,sec-headers,compression,json-error-responder1,json-error-responder4
            - traefik.http.routers.auditlogs.rule=PathPrefix(`/api/management/{ver:v[0-9]+}/auditlogs`)
            - traefik.http.routers.auditlogs.tls=true
            - traefik.http.routers.auditlogs.service=auditlogs
            - traefik.http.services.auditlogs.loadbalancer.server.port=8080
            - mender.testprefix=${MENDER_TESTPREFIX:-""}

    mender-api-gateway:
        environment:
            HAVE_AUDITLOGS: 1

    mender-useradm:
        environment:
            USERADM_ENABLE_AUDIT: 1

    mender-deployments:
        environment:
            DEPLOYMENTS_ENABLE_AUDIT: 1

    mender-workflows-worker:
        environment:
            HAVE_AUDITLOGS: 1
