version: '2.3'
services:

    #
    # mender-iot-manager
    #
    mender-iot-manager:
        image: mendersoftware/iot-manager:mender-3.5.x
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        labels:
            mender.healthcheck.path: "/api/internal/v1/iot-manager/health"

    #
    # mender-deployments
    #
    mender-deployments:
        image: mendersoftware/deployments:mender-3.5.x
        environment:
            DEPLOYMENTS_REPORTING_ADDR: http://mender-reporting:8080
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        labels:
            mender.healthcheck.path: "/api/internal/v1/deployments/health"

    #
    # mender-gui
    #
    mender-gui:
        image: mendersoftware/gui:mender-3.5.x
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        environment:
            - GATEWAY_IP
            - INTEGRATION_VERSION
            - MENDER_ARTIFACT_VERSION
            - MENDER_VERSION
            - MENDER_DEB_PACKAGE_VERSION
            - HAVE_DEVICECONNECT=1
            - HAVE_DEVICECONFIG=1
            - HAVE_REPORTING=1

    #
    # mender-api-gateway
    #
    mender-api-gateway:
        image: traefik:v2.8
        extends:
            file: common.yml
            service: mender-base
        # Enables the web UI and tells Traefik to listen to docker
        command:
            - --accesslog=true
            - --entrypoints.http.address=:80
            - --entrypoints.http.http.redirections.entryPoint.scheme=https
            - --entrypoints.http.http.redirections.entryPoint.to=https
            - --entrypoints.https.address=:443
            - --entryPoints.https.transport.respondingTimeouts.idleTimeout=7200
            - --entryPoints.https.transport.respondingTimeouts.readTimeout=7200
            - --entryPoints.https.transport.respondingTimeouts.writeTimeout=7200
            - --providers.file.directory=/etc/traefik/config
        volumes:
            # So that Traefik can listen to the Docker events
            - /var/run/docker.sock:/var/run/docker.sock:ro
            # Dynamic configuration files
            - ./config/traefik/traefik.yaml:/etc/traefik/config/traefik.yaml:ro
            - ./config/traefik/traefik.middlewares.yaml:/etc/traefik/config/traefik.middlewares.yaml:ro

        networks:
            - mender
        # critical - otherwise nginx may not detect
        # these servers and exits with 'upstream server not found'
        depends_on:
            - mender-device-auth
            - mender-gui
            - mender-useradm
            - mender-inventory

    #
    # mender-device-auth
    #
    mender-device-auth:
        image: mendersoftware/deviceauth:mender-3.5.x
        environment:
            DEVICEAUTH_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-workflows-server
        labels:
            mender.healthcheck.path: "/api/internal/v1/devauth/health"

    #
    # mender-inventory
    #
    mender-inventory:
        image: mendersoftware/inventory:mender-3.5.x
        environment:
            INVENTORY_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
            INVENTORY_ENABLE_REPORTING: 1
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        labels:
            mender.healthcheck.path: "/api/internal/v1/inventory/health"

    #
    # mender-reporting
    #
    mender-reporting:
        image: mendersoftware/reporting:mender-3.5.x
        command: server --automigrate
        environment:
            REPORTING_OPENSEARCH_ADDRESSES: "http://mender-opensearch:9200"
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-opensearch
        labels:
            mender.healthcheck.path: "/api/internal/v1/reporting/health"

    #
    # mender-reporting-indexer
    #
    mender-reporting-indexer:
        image: mendersoftware/reporting:mender-3.5.x
        command: indexer
        environment:
            REPORTING_OPENSEARCH_ADDRESSES: "http://mender-opensearch:9200"
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-opensearch

    #
    # mender-useradm
    #
    mender-useradm:
        image: mendersoftware/useradm:mender-3.5.x
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        labels:
            mender.healthcheck.path: "/api/internal/v1/useradm/health"

    #
    # mender-workflows-server
    #
    mender-workflows-server:
        image: mendersoftware/workflows:mender-3.5.x
        environment:
            WORKFLOWS_MONGO_URL: mongodb://mender-mongo:27017
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-nats
        labels:
            mender.healthcheck.path: "/health"

    #
    # mender-workflows-worker
    #
    mender-workflows-worker:
        image: mendersoftware/workflows-worker:mender-3.5.x
        command: worker --excluded-workflows generate_artifact,generate_delta_artifact
        environment:
            WORKFLOWS_MONGO_URL: mongodb://mender-mongo:27017
            DEVICECONNECT_ADDR: "mender-deviceconnect:8080"
            HAVE_DEVICECONNECT: 1
            HAVE_DEVICECONFIG: 1
            DEVICECONFIG_ADDR: "mender-deviceconfig:8080"
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-nats

    #
    # mender-create-artifact-worker
    #
    mender-create-artifact-worker:
        image: mendersoftware/create-artifact-worker:mender-3.5.x
        extends:
            file: common.yml
            service: mender-base
        environment:
            - WORKFLOWS_MONGO_URL=mongodb://mender-mongo:27017
            - CREATE_ARTIFACT_GATEWAY_URL=https://mender-api-gateway
            - CREATE_ARTIFACT_DEPLOYMENTS_URL=http://mender-deployments:8080
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-nats

    #
    # mender-deviceconnect
    #
    mender-deviceconnect:
        image: mendersoftware/deviceconnect:mender-3.5.x
        command: server --automigrate
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
            - mender-nats
        environment:
            DEVICECONNECT_MONGO_URL: "mongodb://mender-mongo"
            DEVICECONNECT_NATS_URI: "nats://mender-nats:4222"
        labels:
            mender.healthcheck.path: "/api/internal/v1/deviceconnect/health"

    #
    # mender-deviceconfig
    #
    mender-deviceconfig:
        image: mendersoftware/deviceconfig:mender-3.5.x
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        command: server --automigrate
        labels:
            mender.healthcheck.path: "/api/internal/v1/deviceconfig/health"

    mender-mongo:
        image: mongo:4.4
        extends:
            file: common.yml
            service: mender-base
        networks:
            mender:
                aliases:
                    - mongo-tenantadm
                    - mongo-deployments
                    - mongo-device-auth
                    - mongo-inventory
                    - mongo-useradm
                    - mongo-workflows

    mender-nats:
        image: nats:2.6-alpine
        command: -js
        networks:
            - mender

    mender-opensearch:
        image: opensearchproject/opensearch:2.4.0
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        environment:
          - "discovery.type=single-node"
          - "plugins.security.disabled=true"
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"

networks:
    mender: null
