version: '2'
services:

    mender-tenantadm:
        image: mendersoftware/tenantadm:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo

    mender-mongo:
        networks:
            mender:
                aliases:
                    - mongo-tenantadm

    mender-conductor-workers:
        image: mendersoftware/conductor-workers:master
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-conductor
        environment:
            CONDUCTOR: "http://mender-conductor:8080"
