version: '2.1'
services:

    #
    # mender-deviceconfig
    #
    mender-deviceconfig:
        image: mendersoftware/deviceconfig:mender-3.0.2
        extends:
            file: common.yml
            service: mender-base
        networks:
            - mender
        depends_on:
            - mender-mongo
        command: server --automigrate
        labels:
            mender.healthcheck.path: "/api/internal/v1/deviceconfig/health"

    mender-api-gateway:
      volumes:
        - ./config/traefik/traefik.config.yaml:/etc/traefik/config/traefik.config.yaml:ro

    mender-workflows-worker:
        environment:
            HAVE_DEVICECONFIG: 1
            DEVICECONFIG_ADDR: "mender-deviceconfig:8080"

    mender-gui:
        environment:
            HAVE_DEVICECONFIG: 1
