#
# This is a sample gitdm configuration file.
#

#
# EmailAliases lets us cope with developers who use more
# than one address.
#
#EmailAliases aliases

#
# EmailMap does the main work of mapping addresses onto 
# employers.
#
EmailMap company-map

#
# Use GroupMap to map a file full of addresses to the 
# same employer
#
GroupMap group-maps/Northern.tech  Northern.tech
GroupMap group-maps/RnDity  RnDity
GroupMap group-maps/Tronel  Tronel
#
#
# Use FileTypeMap to map a file types to file names using regular
# regular expressions.
#
#FileTypeMap sample-config/filetypes.txt
