version: '2.3'
services:
  mender-client-3-1:
    image: mendersoftware/mender-client-qemu:3.1
    networks:
       - mender
    stdin_open: true
    tty: true
    privileged: true
    environment:
      TENANT_TOKEN: ""
    volumes:
      - ./extra/integration-testing/setup-mender-configuration.py:/setup-mender-configuration.py

