attrs==21.4.0
azure-iot-hub==2.6.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cryptography==36.0.1
docker==5.0.3
execnet==1.9.0
fabric==2.6.0
filelock==3.4.2
idna==3.3
iniconfig==1.1.1
packaging==21.3
Pillow==9.0.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pymongo==4.0.1
pyotp==2.6.0
pyparsing==3.0.6
pytest==6.2.5
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-httpserver==1.0.3
pytest-metadata==1.11.0
pytest-xdist==2.5.0
PyYAML==6.0
pyzbar==0.1.8
redo==2.0.4
requests==2.27.1
six==1.16.0
stripe==2.64.0
toml==0.10.2
trustme==0.9.0
urllib3==1.26.8
