version: '2.1'
services:
    mender-backend-tests-runner:
        image: mender-backend-tests-runner
        networks:
            - mender
        volumes:
            - ${INTEGRATION_PATH}/backend-tests/tests:/tests
            - ${INTEGRATION_PATH}/testutils:/testutils
            - /var/run/docker.sock:/var/run/docker.sock
        command: ${PYTEST_ARGS}
        environment:
            PYTHONPATH: "/testutils"
            PYTHONDONTWRITEBYTECODE: 1
            TENANTADM_STRIPE_API_KEY: ${STRIPE_API_KEY}
            GATEWAY_HOSTNAME: ${GATEWAY_HOSTNAME}
            AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
            AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
            AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
            AWS_EKS_CLUSTER_NAME: ${AWS_EKS_CLUSTER_NAME}
            K8S: ${K8S}
        depends_on:
            - mender-api-gateway

networks:
    mender:
