version: '2.1'
services:
    mender-backend-tests-runner:
        image: mendersoftware/mender-test-containers:backend-integration-testing
        networks:
            - mender
        volumes:
            - ${INTEGRATION_PATH}/backend-tests/downloaded-tools/mender-artifact:/usr/local/bin/mender-artifact
            - ${INTEGRATION_PATH}/backend-tests/tests:/tests
            - ${INTEGRATION_PATH}/testutils:/testutils
            - /var/run/docker.sock:/var/run/docker.sock
        command: ${PYTEST_ARGS}
        environment:
            PYTHONPATH: "/testutils"
            PYTHONDONTWRITEBYTECODE: 1
            TESTS_IN_PARALLEL: ${TESTS_IN_PARALLEL}
            TENANTADM_STRIPE_API_KEY: ${STRIPE_API_KEY}
            GATEWAY_HOSTNAME: ${GATEWAY_HOSTNAME}
            AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
            AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
            AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
            AWS_EKS_CLUSTER_NAME: ${AWS_EKS_CLUSTER_NAME}
            AZURE_IOTHUB_CONNECTIONSTRING_B64: ${AZURE_IOTHUB_CONNECTIONSTRING_B64}
            AZURE_IOTHUB_MOCK: ${AZURE_IOTHUB_MOCK}
            GMAIL_ADDRESS: ${GMAIL_ADDRESS}
            GMAIL_PASSWORD: ${GMAIL_PASSWORD}
            K8S: ${K8S}
            SSH_PRIVATE_KEY: ${SSH_PRIVATE_KEY}
            AUDITLOGS_REV: ${AUDITLOGS_REV}
            DEPLOYMENTS_REV: ${DEPLOYMENTS_REV}
            DEPLOYMENTS_ENTERPRISE_REV: ${DEPLOYMENTS_ENTERPRISE_REV}
            DEVICEAUTH_REV: ${DEVICEAUTH_REV}
            DEVICECONFIG_REV: ${DEVICECONFIG_REV}
            DEVICECONNECT_REV: ${DEVICECONNECT_REV}
            DEVICEMONITOR_REV: ${DEVICEMONITOR_REV}
            INVENTORY_REV: ${INVENTORY_REV}
            INVENTORY_ENTERPRISE_REV: ${INVENTORY_ENTERPRISE_REV}
            TENANTADM_REV: ${TENANTADM_REV}
            USERADM_REV: ${USERADM_REV}
            USERADM_ENTERPRISE_REV: ${USERADM_ENTERPRISE_REV}
            WORKFLOWS_REV: ${WORKFLOWS_REV}
            WORKFLOWS_ENTERPRISE_REV: ${WORKFLOWS_ENTERPRISE_REV}

    mender-iot-manager:
        environment:
          IOT_MANAGER_DOMAIN_WHITELIST: "localhost *.azure-devices.net mender-backend-tests-runner"

networks:
    mender:
