version: '2.3'
services:

    #
    # mender-client
    #
    mender-client:
        image: mendersoftware/mender-client-qemu:mender-3.5.0
        networks:
            - mender_local
        stdin_open: true
        tty: true
        privileged: true
        environment:
            - SERVER_URL=http://mender-gateway:8080
            - TENANT_TOKEN

networks:
    mender_local:
