####################
#  Pip3 specifics  #
####################
# release_tool
pyyaml                     ; python_version >= "3.0"
# test_full_integration
docker-compose==1.27.4     ; python_version >= "3.0"
requests==2.25.0           ; python_version >= "3.0"
pytest==6.1.2              ; python_version >= "3.0"
pytest-html==3.1.1         ; python_version >= "3.0"
pytest-xdist               ; python_version >= "3.0"
pytest-timeout             ; python_version >= "3.0"
filelock>=2.0              ; python_version >= "3.0"
psutil                     ; python_version >= "3.0"
pymongo==3.11.2            ; python_version >= "3.0"
fabric==2.5.0              ; python_version >= "3.0"
pycrypto                   ; python_version >= "3.0"
paramiko==2.7.2            ; python_version >= "3.0"
