cryptography==37.0.2
docker==5.0.3
docker-compose==1.29.2
fabric==2.7.0
filelock==3.7.1
invoke==1.7.1
msgpack==1.0.3
paramiko==2.10.2
py3dns==3.2.1
pymongo==4.1.1
PyNaCl==1.5.0
pyrsistent==0.18.1
pytest==7.1.0
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-metadata==2.0.1
pytest-timeout==2.1.0
pytest-xdist==2.5.0
redo==2.0.4
requests==2.27.1
urllib3==1.26.8
websocket-client==0.59.0
websockets==10.3
flaky==3.7.0
stripe==3.2.0
